<%
action = ''

display_settings = 'none'
display_view = 'none'


if mode == 'view':
    action = str(issue_id)

    display_view = 'block'

elif mode == 'new':
    action = 'new_issue'

    display_settings = 'block'
    
def hide_show(control_name):
    return (
        "var a = document.getElementById('{control_name}'); "
        "if (a.style.display=='block') {{ a.style.display='none' }} "
        "else {{ a.style.display='block' }}"
        ).format(control_name=control_name)

%>
% if mode == 'view':

<div id="issue_page_issue_view_main_div" style="display: ${display_view| x}">
    <div>
        <table id="issue_page_issue_view_main_table">
            <tr>
                <td colspan="2">
                    <div>
                        <div class="control_title_normal">Issue ID:</div>
                        <div id="issue_page_issue_id">${'#'+str(issue_id)|x}:</div>
                        <div id="issue_page_issue_title">${title|x}</div>
                    </div>
                </td>
                <td>
                    <div id="issue_page_project_info">
                        <div class="control_title_normal">Project:</div>
                        <div id="issue_page_project_title">${project_title|x}</div>
                        <div id="issue_page_project_name">${project_name|x}</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <div class="control_title_normal">Created at:</div>
                        <div>${created_date|x}</div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="control_title_normal">Last updated at:</div>
                        <div>${updated_date|x}</div>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <div>
                        <div class="control_title_normal">Priority:</div>
                        ${ priority }
                    </div>
                </td>
                <td>
                    <div>
                        <div class="control_title_normal">Resolution:</div>
                        ${ resolution }
                    </div>
                </td>
                <td>
                    <div>
                        <div class="control_title_normal">Status:</div>
                        ${ status }
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <div class="control_title_normal">Assigned to:</div>
                        <div>${assigned_to|x}</div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="control_title_normal">Watchers:</div>
                        <div>${watchers|x}</div>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3">
                    <div>
                        <div class="control_title_normal">Description:</div>
                        <div><pre class="issue_description">${description|x}</pre></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div>
                        <div class="control_title_normal">Relations:</div>
                        <table>
                            % if relations:
                            % for i in relations:
                            <%
                            iss = get_issue(i.target_issue_id)
                            stat = ' '
                            if iss.status != 'open':
                                stat += ' text-decoration:line-through '
                            %><tr>
                                <td>${ i.typ | x }</td>
                                <td><a href="/project/${ iss.project_name | u,x }/${ iss.issue_id | u,x }">${ '#'+str(i.target_issue_id) | x }</a></td>
                                <td><a style="${stat|x}" href="/project/${ iss.project_name | u,x }/${ iss.issue_id | u,x }">${ iss.title | x }</a></td>
                            </tr>
                            % endfor
                            % endif
                        </table>
                    </div>
                    <div>
                        <button type="button"
                            onclick="${ hide_show('relation_elements') | x }">Edit Relations</button>
                    </div>
                    <div id="relation_elements" style="display: None">
                        <form method="POST" action="">
                            <input type="hidden" name="issue_id" value="${issue_id|x}" />
                            <div>Change Existing:</div>
                            <table>
                                % if relations:
                                % for i in relations:
                                <tr>
                                    <td>
                                        <select name="relation_type[]">
                                            % for j in relation_types:
                                            <%
                                            type_selected = ''
                                            if j == i.typ:
                                                type_selected = ' selected="selected" '
                                            %><option value="${ j | x }" ${type_selected}>${ j | x }</option>
                                            % endfor
                                        </select>
                                    </td>
                                    <td><input type="text"
                                            name="relation_target_id[]"
                                            value="${ i.target_issue_id | x }" /></td>
                                    <td><label>remove relation? <input type="checkbox"
                                            name="delete_relation[]"
                                            value="${ i.irid | x }" /></label></td>
                                </tr>
                                % endfor
                                % endif
                            </table>

                            <div>Add New:</div>
                            <table>
                                <tr class="new_issue_relation_editors_table_row">
                                    <td>
                                        <select name="relation_type[]">
                                            % for j in relation_types:
                                            <option value="${ j | x }">${ j | x }</option>
                                            % endfor
                                        </select>
                                    </td>
                                    <td><input type="text"
                                            name="relation_target_id[]" value="" /></td>
                                </tr>
                                <tr class="new_issue_relation_editors_table_row">
                                    <td>
                                        <select name="relation_type[]">
                                            % for j in relation_types:
                                            <option value="${ j | x }">${ j | x }</option>
                                            % endfor
                                        </select>
                                    </td>
                                    <td><input type="text"
                                            name="relation_target_id[]" value="" /></td>
                                </tr>
                                <tr class="new_issue_relation_editors_table_row">
                                    <td>
                                        <select name="relation_type[]">
                                            % for j in relation_types:
                                            <option value="${ j | x }">${ j | x }</option>
                                            % endfor
                                        </select>
                                    </td>
                                    <td><input type="text"
                                            name="relation_target_id[]" value="" /></td>
                                </tr>
                            </table>
                            <button type="submit" name="submit_type"
                                value="relations_edit">Save Relation Changes</button>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="issue_page_comments_and_updates">
    <div class="control_title_normal">Comments/Updates:</div>
    <div>${comments}</div>
</div>
% endif
<div>
    <form method="POST" action="${ action | x }">
        % if mode == 'view':
        <input type="hidden" name="issue_id" value="${issue_id|x}" />
        <div>
            <button type="button" onclick="${ hide_show('setting_elements') | x }">Edit Issue</button>
        </div>
        % endif
        <div style="display: ${display_settings| x}" id="setting_elements">
            <div>
                <div class="control_title_normal">Subject:</div>
                <input type="text" name="title" value="${title|x}" />
            </div>
            <div>
                <div class="control_title_normal">Priority:</div>
                ${ priority_selector }
            </div>
            <div>
                <div class="control_title_normal">Resolution:</div>
                ${ resolution_selector }
            </div>
            <div>
                <div class="control_title_normal">Status:</div>
                ${ status_selector }
            </div>
            <div>
                <div class="control_title_normal">Assigned to:</div>
                <textarea name="assigned_to">${assigned_to|x}</textarea>
            </div>
            <div>
                <div class="control_title_normal">Watchers:</div>
                <textarea name="watchers">${watchers|x}</textarea>
            </div>
            <div class="control_title_normal">
                <div>Description:</div>
                <textarea name="description">${description|x}</textarea>
            </div>
        </div>
        % if mode == 'view':
        <div>
            <div class="control_title_normal">Comment:</div>
            <textarea name="comment">${comment|x}</textarea>
        </div>
        % endif
        <div>
            <button type="submit" name="submit_type" value="issue_edit">Save</button>
        </div>
    </form>
</div>
