<%
    
action = None
if mode == 'edit':
    action = ''
elif mode == 'new':
    action = 'new_project'
    
guests_access_allowed_checked = ''

if guests_access_allowed: 
    guests_access_allowed_checked = ' checked="checked" '
    
%><div>
    % if mode == 'edit': 
    <span>Editing project ${ "`{}'".format(name) |x}</span> 
    % elif mode == 'new': 
    <span>Creating new project</span> 
    % endif
    <form action="${action|x}" method="POST">
        % if mode == 'new':
        <div>
            <div>Name (used internally and in URL. required. can not be changed farther):</div>
            <div>
                <input type="text" name="name" value="${name|x}" />
            </div>
        </div>
        % elif mode == 'edit':
        <div>Name can not be changed</div>
        <input type="hidden" name="name" value="${name|x}" />
        % endif
        <div>
            <div>Project Title (required):</div>
            <div>
                <input type="text" name="title" value="${title|x}" />
            </div>
        </div>
        <div>
            <div>Description (optional):</div>
            <div>
                <textarea name="description">${description|x}</textarea>
            </div>
        </div>
        <div>
            <div>Guests Access Allowed:</div>
            <div>
                <input type="checkbox" name="guests_access_allowed" ${ guests_access_allowed_checked }/>
            </div>
            <div class="description">
                <p>In all cases, posting allowed to confirmed non-blocked
                    members</p>
                <p>
                    If <strong>Guests Access Allowed</strong> is checked, guests
                    allowed to access project and read issues.
                </p>
            </div>
        </div>
        <div>
            <button type="submit" name="submit" value="save">Save</button>
        </div>
    </form>
</div>
