<div>
    <form action="" method="GET">
        <table>
            <thead>
                <tr>
                    <th>page</th>
                    <th>actions per page</th>
                    <th></th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" name="page"
                            value="${ page | x }" /></td>
                    <td><input type="text" name="count"
                            value="${ count | x }" /></td>
                    <td><button type="submit">Go</button></td>
                    <td>not implemented yet</td>
                </tr>
            </tbody>
        </table>
    </form>
</div>